.product {
  /* border: 1px solid hsl(0, 0%, 95%); */
  border-radius: 3px;
  overflow: hidden;
  padding: 1rem;
  transition: box-shadow 0.3s;
}

.product:hover {
  box-shadow: 1px 10px 15px 5px hsl(0deg 0% 95%);
}

.productImage {
  /* height: 300px;
  width: 200px; */
  /* height: 100%; */
  height: 300px;
  width: 100%;
  /* background-size: cover; */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /* background-position-x: center; */
  /* background-position-y: top; */
  border: 1px solid hsl(0, 0%, 95%);
}

/* img {
  max-width: 100%;
} */
