.product {
  /* border: 1px solid hsl(0, 0%, 95%); */
  /* transition: box-shadow 0.3s; */
  grid-template-rows: 230px auto;
}

/* .product:hover {
  box-shadow: 1px 10px 15px 5px hsl(0deg 0% 95%);
} */

.productImage {
  /* height: 300px;
  width: 200px; */
  /* height: 100%; */
  /* height: 230px; */
  width: 100%;
  /* background-size: cover; */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /* background-position-x: center; */
  /* background-position-y: top; */
  /* border: 1px solid hsl(0, 0%, 95%); */
}
/* .productImage:before {
  background-color: hsla(0, 0%, 65%, 0.1);
  content: '';
  display: block;
  height: 100%;
  width: 100%;
} */
/* .productInfo {
  padding: 0 1rem;
} */
/* img {
  max-width: 100%;
} */
