.product {
  grid-template-rows: 230px auto;
}

.productImage {
  /* height: 300px;
  width: 200px; */
  /* height: 100%; */
  /* height: 230px; */
  width: 100%;
  /* background-size: cover; */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /* background-position-x: center; */
  /* background-position-y: top; */
  /* border: 1px solid hsl(0, 0%, 95%); */
}
